@import "vars";

.mobileMenu {
  width: 100vw;
  height: 100vh;
  left: 0;
  padding: 24px;
  position: absolute;
  top: 61px;
  background-color: $--white;
  animation: swipeRight .3s ease reverse;
  transition: 0.3s ease;
}

.mobileMenu-ul-li-a {
  text-decoration: none;
  font-weight: bold;
  color: $--black
}

.mobileMenu-ul {
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
}

.mobileMenu-ul-1 {
  border-bottom: 1px solid $--very-light-pink;
}

.mobileMenu-ul-li {
  margin-bottom: 24px;
  color: $--very-light-pink
}

.email {
  font-size: $--sm;
  font-weight: 300 !important;
}

.sign-out {
  font-size: $--sm;
  color: $--hospital-green !important;
}

@media screen and (min-width: 640px) {
  .mobileMenu {
    display: none;
  }
}

@keyframes swipeRight {
  100% {
    transform: translateX(-360px)
  }

  ;
}