@import "vars";

.mobile-menu {
  width: 100vw;
  height: 100vh;
  left: 0;
  padding: 24px;
  position: absolute;
  top: 61px;
  background-color: var(--white);
  animation: swipeRight .3s ease reverse;
  transition: 0.3s ease;
}

.mobile-menu a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}

.mobile-menu ul {
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
}

.mobile-menu ul:nth-child(1) {
  border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu ul li {
  margin-bottom: 24px;
}

.email {
  font-size: var(--sm);
  font-weight: 300 !important;
}

.sign-out {
  font-size: var(--sm);
  color: var(--hospital-green) !important;
}

@media screen and (min-width: 640px) {
  .mobile-menu {
    display: none;
  }
}

@keyframes swipeRight {
  100% {
    transform: translateX(-360px)
  }

  ;
}