@import "vars";
.nav {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid $--very-light-pink;
    position: fixed;
    top: 0;
    background-color: $--white;
  }
  .menu {
    display: none;
  }
  .nav-logo {
    width: 100px;
    margin: auto 0;
  }
  .navbar-left-ul,
  .navbar-right-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
  }
  .navbar-left {
    display: flex;
  }
  .navbar-left-ul {
    margin-left: 12px;
  }
  .navbar-left-ul-li-a {
    text-decoration: none;
    color: $--very-light-pink;
    border: 1px solid $--white;
    padding: 8px;
    border-radius: 8px;
  }
  .navbar-left-ul-li-a:hover {
    border: 1px solid $--hospital-green;
    color: $--hospital-green;
  }
  .navbar-email {
    color: $--very-light-pink;
    font-size: $--sm;
    margin-right: 12px;
    cursor: pointer;
  }
  .navbar-shopping-cart {
    position: relative;
    cursor: pointer;
  }
  .navbar-shopping-cart-div {
    width: 16px;
    height: 16px;
    background-color: $--hospital-green;
    border-radius: 50%;
    font-size: $--sm;
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .general {
    position: absolute;
    transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .mobileMenuTransition {
    left: -100%;
  }
  .mobileMenuTRansitioned {
    left: 0;
   }
  @media (max-width: 640px) {
    .menu {
      display: block;
      margin: auto 0;
      cursor: pointer;
    }
    .navbar-left-ul {
      display: none;
    }
    .navbar-email {
      display: none;
    }
  }