@import "vars";
.MyOrder {
    width: 360px;
    height: 100vh;
    padding: 24px;
    position: fixed;
    right: 0;
    background-color: $--white;
    top: 61px;
    z-index: 1;
    border-left: 1px solid $--very-light-pink;
    transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.title-container {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.title-container-img {
    transform: rotate(180deg);
    margin-right: 14px;
    cursor: pointer;
}
.title {
    font-size: $--lg;
    font-weight: bold;
}
.my-order-content {
    max-height: 370px;
    overflow-y: scroll;
    margin-bottom: 24px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    border-radius: 8px;
}
.order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: $--text-input-field;
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 24px;
    color: $--black
}
.order-p-1 {
	display: flex;
	flex-direction: column;
}
.order-p-span-1 {
	font-size: $--md;
	font-weight: bold;
}
.order-p-2 {
	text-align: end;
	font-weight: bold;
}
.primary-button {
    background-color: $--hospital-green;
    border-radius: 8px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $--white;
    width: 100%;
    cursor: pointer;
    font-size: $--md;
    font-weight: bold;
    height: 50px;
}
.mobileMenuTransitionRight {
    right: -380px
}
.mobileMenuTRansitionedRight {
    right: 0px;
}
@media (max-width: 640px) {
    .MyOrder {
        width: 100%;
    }
}