@import "vars";
.NotFound {
    position: relative;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    color: $--black
}
.notfound-logo {
    height: 10%;
}
.lower-container {
    display: flex;
    flex-direction: column;
    gap: 20px
}
.lost {
    font-size: 50px;
}
.description-container {
    text-align: center;
}
.back {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-link {
    text-decoration: none;
    color: $--white;
}
.primary-button {
    background-color: $--hospital-green;
    border-radius: 8px;
    border: none;
    color: $--white;
    max-width: 150px;
    width: 100%;
    cursor: pointer;
    font-size: $--md;
    font-weight: bold;
    height: 50px;
  }