@import "vars";
.ProductList {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 24px;
    justify-content: center;
    padding-top: 80px;
    background-color: $--white;
    max-width: 1700px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.primary-button {
	background-color: $--hospital-green;
	border-radius: 8px;
	border: none;
	color: $--white;
	cursor: pointer;
	font-size: $--md;
	font-weight: bold;
	height: 50px;
}
.load {
	width: 80%;
    margin: 0 auto;
    margin-bottom: 16px;
    max-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}
@media (max-width: 640px) {
    .ProductList {
        grid-template-columns: repeat(auto-fill, 140px);
    }
}
